<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="areas.css">
    <title>AdvoBusca</title>
</head>

<body>


    <header>


        <div class="class-header">

            <div class="logo-class-header">
                <a href="home.html">
                    <img src="images/Logo_atualizada_Right_branco.png" alt="">
                </a>
            </div>

            <div class="item1-class-header">
                <a href="#nossos-valores">
                    <h3>Nosso Valores</h3>
                </a>
            </div>

            <div class="dropdown">
                <a href="areas.html">
                    <h3>Areas</h3>
                </a>
                <div class="dropdown-menu">
                    <a href="/Front/agenda.html">criminal</a>
                    <a href="/Front/agenda.html">ambiental</a>
                    <a href="/Front/agenda.html">trabalhistas</a>
                    <a href="/Front/agenda.html">consumidor</a>
                    <a href="/Front/agenda.html">empresarial</a>
                    <a href="/Front/agenda.html">digital</a>
                    <a href="/Front/agenda.html">tributario</a>
                    <a href="/Front/agenda.html">civil</a>
                    </a>
                </div>
            </div>

            <div class="item3-class-header">
                <a href="">
                    <h3>Sobre nós</h3>
                </a>
            </div>

            <div class="signup-class-header">
                <a href="new-account.html">
                    <button>Se cadastre</button>
                </a>
            </div>

            <div class="login-class-header">
                <a href="login.html">
                    <button>Entre</button>
                </a>
            </div>

        </div>
        <div class="area-de-atuacao">
            <h2>Area de atuação</h2>
        </div>
    </header>

    <div class="area-de-atuacao">
        <h2>Area de atuação</h2>
    </div>

    <h1>Afinal, qual area do direito se encaixa melhor?</h1>
    <div class="text-informativo">
        <h4>A advocacia é uma das profissões mais antigas e respeitadas da história, evoluindo ao longo de séculos para
            atender às crescentes necessidades e complexidades da sociedade. Sua origem remonta a civilizações antigas
            como Roma e Grécia, mas sua forma moderna começou a se desenvolver na Idade Média, com o ensino do Direito
            Canônico e Romano nas universidades. A divisão da advocacia em áreas de especialização surgiu devido à
            necessidade de lidar com a expansão das leis para regular uma ampla gama de atividades, levando à demanda
            por advogados especializados em áreas específicas do Direito.</h4>
        <h4>Entender que tipo de advogado você precisa e qual área do Direito melhor se
            adequa às suas necessidades e necessidades do (s) seu (s) caso (s)
            é fundamental para um bom esclarecimento sobre seu caso.
            Por isso, neste artigo, você conhecerá algumas das principais áreas
            de atuação para quem não conhece cada área. Também
            verá novos cargos e atribuições, que têm surgido com a
            modificação de leis, e com o avanço da tecnologia.
            Esperamos que este conteúdo contribua para a resolução da sua dúvida! Boa leitura.</h4>
    </div>

    

    <div class="sobre-nos" id="sobre-nos">

        <div class="title-sobre-nos">
            <img id="ambiental" src="images/ambiental.png"><br>
        </div>

        <div class="text-sobre-nos">
            <h3>O Direito Ambiental é um ramo jurídico constituído por um conjunto de leis, normas e princípios que
                visam a proteção do meio ambiente como um todo, a preservação das espécies e a qualidade de vida. As
                disposições e os instrumentos legais de Direito Ambiental tratam de aspectos ecológicos, econômicos e
                sociais, influenciando as relações individuais, de governo e de empresas com o ecossistema.</h3>
        </div>
    </div>
    <!-- fim div referente ao direito ambiental-->
    <div class="sobre-nos" id="sobre-nos">

        <div class="title-sobre-nos">
            <img id="civil" src="images/judicial_10164986.png"><br>
        </div>

        <div class="text-sobre-nos">
            <h3>O O Direito Civil, dentro do ordenamento jurídico brasileiro, é o ramo do direito que lida com as
                relações jurídicas, como os direitos e as obrigações, de pessoas físicas e jurídicas dentro da esfera
                civil.Se a descrição parece abrangente, é porque de fato ela é. O Direito Civil é provavelmente o ramo
                mais amplo do estudo e aplicação do direito dentro do território nacional, ditando os regramentos das
                relações de pessoas nas questões patrimoniais, obrigacionais e familiares, por exemplo.Aqui, entram
                questões relacionadas a cobranças em geral, danos morais, herança, adoção, divórcio, renegociação de
                contratos.</h3>
        </div>
    </div>
    <!-- fim div referente ao direito civel-->
    <div class="sobre-nos" id="sobre-nos">

        <div class="title-sobre-nos">
            <img id="digital" src="images/direito-digital.png"><br>
        </div>

        <div class="text-sobre-nos">
            <h3>O Direito Digital é um ramo novo no Direito e surgiu para tutelar as questões jurídicas relativas ao
                mundo digital. Tem como objetivo manter a organização e a interação nos meios virtuais mais harmoniosa,
                podendo ser aplicado em todos os setores que se utilizam, de alguma forma, da tecnologia.O advogado
                especializado em Direito Digital tem uma vasta gama de atuação, devido ao Direito Digital atuar em
                vários campos de ação, como por exemplo: • contencioso: civil, trabalhista, tributário, previdenciário e
                autoral; • consultivo: consumidor e civil; • criminal: crimes digitais, injúria, difamação, calúnia e
                furto de dados; • contratos: e-commerce e startup; • compliance: novas práticas jurídicas-empresariais
                relacionadas ao Direito Digital.</h3>
        </div>
    </div>
    <!-- fim div referente ao direito digital-->
    <div class="sobre-nos" id="sobre-nos">

        <div class="title-sobre-nos">
            <img id="empresarial" src="images/empresarial.png"><br>
        </div>

        <div class="text-sobre-nos">
            <h3>Essa área, também chamada de Direito Comercial, é a responsável por regular as atividades comerciais de
                pessoas físicas e jurídicas. O ramo abrange os direitos e deveres dos empresários e sociedades
                empresariais, os contratos de comércio, a propriedade intelectual e várias outras matérias. Nesse
                sentido, o advogado lida com causas empresariais que envolvem abertura e fechamento de empresas,
                registros de marcas e processos de falência, por exemplo. Outra possibilidade é auxiliar a tomada de
                decisões de uma empresa por meio de orientação jurídica.</h3>
        </div>
    </div>
    <!-- fim div referente ao direito empresarial-->
    <div class="sobre-nos" id="sobre-nos">

        <div class="title-sobre-nos">
            <img id="criminal" src="images/direito-criminal.png"><br>
        </div>

        <div class="text-sobre-nos">
            <h3>A área de Direito Criminalista é uma especialização legal que trata de crimes, processos penais e justiça criminal.
                 Advogados nessa área representam réus acusados de crimes e também atuam na acusação de suspeitos. Eles lidam com uma variedade de crimes, do menor ao mais grave,
                 e são responsáveis por proteger os direitos dos clientes, garantir um julgamento justo e negociar penas.
                  Isso requer conhecimento do processo penal, ética profissional e interação com outros profissionais do sistema de justiça criminal.
                 Em resumo, o Direito Criminalista é vital para assegurar a aplicação justa da lei e a proteção dos direitos individuais no sistema de justiça.</h3>
        </div>
    </div>
    <!-- fim div referente ao direito criminalista-->
    <div class="sobre-nos" id="sobre-nos">

        <div class="title-sobre-nos">
            <img id="trabalhista" src="images/direito-trabalhista.png"><br>
        </div>

        <div class="text-sobre-nos">
            <h3>O Direito Trabalhista é um ramo que trata das relações entre empregadores e empregados.
                 Ele abrange questões como contratos de trabalho, leis trabalhistas, segurança no trabalho, direitos sindicais e resolução de conflitos.
                 Suas principais áreas incluem a proteção dos direitos dos trabalhadores, a regulação de condições de trabalho justas e a resolução de disputas no ambiente de trabalho.</h3>
        </div>
    </div>
    <!-- fim div referente ao direito trabalhista-->
    <div class="sobre-nos" id="sobre-nos">

        <div class="title-sobre-nos">
            <img id="consumidor" src="images/consumer-law.png"><br>
        </div>

        <div class="text-sobre-nos">
            <h3> O Direito do Consumidor é uma área jurídica que se concentra na proteção dos direitos e interesses dos consumidores em transações comerciais. 
                Ele estabelece direitos fundamentais dos consumidores, regulamenta contratos de consumo, aborda questões de publicidade enganosa, responsabilidade por produtos e serviços defeituosos e oferece meios para resolver disputas.
                Essa área tem implicações tanto nas compras tradicionais quanto nas transações online, visando garantir que os consumidores recebam tratamento justo e produtos e serviços de qualidade.</h3>
        </div>
    </div>
    <!-- fim div referente ao direito consumidor-->
    <div class="sobre-nos" id="sobre-nos">

        <div class="title-sobre-nos">
            <img id="tributario" src="images/direito-tributario.png"><br>
        </div>

        <div class="text-sobre-nos">
            <h3> O Direito Tributário é a área do direito que trata de impostos e tributos.
                 Ele engloba a criação, cobrança e regulamentação dessas obrigações financeiras para indivíduos e empresas.
                  O Direito Tributário envolve a interpretação das leis fiscais, planejamento tributário para minimizar impostos legalmente, resolução de disputas fiscais e o cumprimento das obrigações fiscais.
                   É uma área complexa e fundamental para a arrecadação de receitas governamentais e a regulação das transações financeiras.</h3>
        </div>
    </div>
    <!-- fim div referente ao direito tributario-->
    <footer>
        <div class="container">
            <ul>
                <div class="imagem-logo-footer">
                    <img src="images/Logo_atualizada_Right_branco.png" alt="imagem-logo-footer">
                </div>
            </ul>
            <!--fim da primeira ul-->
            <ul>
                <h3>Acesse <br> Aqui</h3>
                <a href="">Areas</a><br>
                <a href="">Cadastre-se</a><br>
                <a href="">Login</a><br>
            </ul>
            <!--fim da segunda ul-->
            <ul>
                <h3>Informações <br> Corporativas</h3>
                <a href="">Home</a><br>
                <a href="">Sobre nós</a><br>
                <a href="">Valores</a><br>
            </ul>
            <!--fim da terceira ul-->
            <ul class="icons">
                <h3>Siga-nos</h3>
                <img id="imgFacebook" src="images/107140_gray_circle_facebook_icon.png" alt="">
                <img id="imgInstagram" src="images/107138_gray_circle_instagram_icon.png" alt="">
                <img id="imgTwitter" src="images/107135_gray_twitter_circle_icon.png" alt="">
            </ul>
            <!--fim da quarta ul-->
        </div>
    </footer>
    <script src="areas.js"></script>
</body>



</html>